<app-header></app-header>
<router-outlet></router-outlet>
<!--<app-banner></app-banner>-->
<!--<app-products></app-products>-->
<!--<app-parent></app-parent>-->
<!--<button (click)="ff()">Display Data</button>
<div *ngIf="IsClicked; then hideTable; else showMSG " class="container">
</div>
    <ng-template #hideTable >
       
     <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Prod of rr">
            <th scope="row">{{Prod.ID}}</th>
            <td>{{Prod.Name}}</td>
            <td>{{Prod.Quantity}}</td>
            <td>{{Prod.Price}}</td>
            <td><img src={{Prod.Img}} width="250px"> </td>

          </tr>
          
        </tbody>
      </table>
    </ng-template>
    <ng-template #showMSG> 
       
      </ng-template>-->

<app-footer></app-footer>